<div class="Polaris-Page  Polaris-Page--fullWidth">
  <div class="Polaris-Page__Header">
    <div class="Polaris-Page__Title">
<!--       <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge w-100">How To Get Started</h1>
      <p class="Polaris-TextStyle--variationSubdued">0 to 60 with Quick-Start for Lookalike Ads</p> -->
    </div>
    <div class="Polaris-Page__Actions"></div>
  </div>
  <div class="Polaris-Page__Content">
    <div class="Polaris-Layout">
      <div class="Polaris-Layout__Section">
        <div class="Polaris-Card">
          <div class="Polaris-Card__Section b-none">
            <p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge f-w-400 m-b-30">Product Library</p>
            <p class="p-b-l-10">1. The product library is our constantly updating list of amazing products, perfect for your drop-shipping store.  Scroll through and find something that catches your eye.</p>
            <p class="p-b-l-10">2. When you find the PERFECT product, you can add it to your store with just one click!</p>
            <p class="p-b-l-10">3. You can also view more details about the product, including the full product listing, example pictures and the video clips we use for your Facebook Ads.</p>
            <p class="p-b-l-10">4. To view, remove, or launch Facebook Ads for your products, navigate to the My Products page and put your products to work!</p>
          </div>
        </div>
      </div>



      <div class="Polaris-Layout__Section">
        <div class="Polaris-Card">
          <div class="Polaris-Card__Section b-none">
            <p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge f-w-400 m-b-30">One-Click Facebook Ads</p>
            <p class="p-b-l-10">1. When you first launch a Facebook Ad for one of your new winning products, you will be prompted to integrate our app with your store.</p>
            <p class="p-b-l-10">2. After, you will be sent to your settings page, where you will need to select the correct ad account, page and pixel for your ads. (The defaults might be correct, be we need to be sure!)</p>
            <p class="p-b-l-10">3. Now, navigate back to the "My Products" page and click "Create FB Ad"  - Its just that easy!</p>
            <p class="p-b-l-10">4. To view your new Facebook Ad, simply navigate to your Facebook page and watch the results and monitor your campaign.</p>
          </div>
        </div>
      </div>




      <div class="Polaris-Layout__Section">
        <div class="Polaris-Card">
          <div class="Polaris-Card__Header">
            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge f-w-400">Facebook Requirements</h2>
          </div>
          <div class="Polaris-Card__Section">
            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium f-w-400 m-t-15">Facebook Page:</h2>
            <p>Ensure that you have a Facebook page set-up for your business, this is required if you want to run ads. This can easily be done by selecting “Pages” from the Explore section on the left-hand side of your Facebook home page. Then select “Create Page” in the top right. Then follow the instructions from Facebook to set-up a page for your business.</p>
            <p style="color:white;">filler</p>
            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium f-w-400 m-t-15">Ad Account Set-up:</h2>
            <p>Now that your page is created, visit <a class="Polaris-Link" target="_blank" href="https://www.facebook.com/adsmanager">Facebook Ads Manager</a> (ensure that you remain logged into the Facebook account linked to your Facebook page).  Firstly, you need to add a valid payment method to run ads. This can be done by selecting the top right ‘settings’ icon and then select “Payment settings” – here you need to add in your payment details.</p>
            <p style="color:white;">filler</p>
            <p>Now that your payment is set-up, navigate back to <a class="Polaris-Link" target="_blank" href="https://www.facebook.com/adsmanager">Facebook Ads Manager</a> and select “Ads Manager” at the top left, then select “Events Manager”, then below Data sources select “Get Started” Next to “Facebook pixel: Track website activities”</p>
            <p style="color:white;">filler</p>
            <p>From here click “continue” and then “Add code using a partner integration”, then click “Shopify (online)”, then follow the on-screen instruction for copying your Facebook pixel code into your Shopify preferences. Once this is completed, you can test if the pixel is working by inputting your website URL. If done correctly, your Shopify activity is now being tracked and your pixel is working.</p>
            <p style="color:white;">filler</p>
            <p>You’re now ready to start running ads.</p>
          </div>
          <div class="Polaris-Card__Section right-section">
            <div class="Polaris-Card__Header m-b-10">
              <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium f-w-400 m-t-15">Have Questions or Comments?</h2>
            </div>
            <div class="Polaris-Card__Section">
              <ul class="Polaris-List Polaris-List--typeBullet">
                <li class="Polaris-List__Item Polaris-TextStyle--variationSubdued"><a class="Polaris-Link" href="<%= contact_us_path %>">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>