<div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb; --p-frame-offset:0px;">
  <div class="Polaris-Card">
  	<div class="product-header">
  		Past Campaigns
  		<%#= link_to "Back", root_path, :class => "Polaris-Button Polaris-Button--sizeSlim spin polaris_right" %>
  	</div>
  </div>
</div>  
