<div class="row">
    <div class="col-md-12">
        <div class="Polaris-Page Polaris-Page--fullWidth">
            <div class="Polaris-Page__Content">
                <div class="Polaris-Layout">
                    <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf upgrade_premium_card">
                        <div class="Polaris-Card">
                            <div class="upgrade-premium-head">
                                Paid
                            </div>

                            <div class="Polaris-Card">
                                <div class="Polaris-Card__Header price_section_upgrade">
                                  <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                                    <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                      <h2 class="Polaris-Heading text-center font-20">
                                        <sup class="dollar_sign">$</sup><span class="upgrade_price">20</span>
                                      </h2>
                                    </div>
                                  </div>
                                </div>
                                <div class="Polaris-Card__Section">
                                  <div class="Polaris-ResourceList__ResourceListWrapper">
                                    <ul class="Polaris-ResourceList" aria-live="polite">
                                      <li class="Polaris-ResourceList__ItemWrapper">
                                        <div class="Polaris-ResourceItem" data-href="reports/orders"><a aria-label="View Sales for Orders" class="Polaris-ResourceItem__Link" tabindex="0" id="ResourceListItemOverlay3" href="reports/orders" data-polaris-unstyled="true"></a>
                                          <div class="Polaris-ResourceItem__Container">
                                            <div class="Polaris-ResourceItem__Content">
                                              <div class="Polaris-Stack">
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Add 3 Products Per Day</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="Polaris-ResourceList__ItemWrapper">
                                        <div class="Polaris-ResourceItem" data-href="reports/returns"><a aria-label="View Sales for Returns" class="Polaris-ResourceItem__Link" tabindex="0" id="ResourceListItemOverlay4" href="reports/returns" data-polaris-unstyled="true"></a>
                                          <div class="Polaris-ResourceItem__Container">
                                            <div class="Polaris-ResourceItem__Content">
                                              <div class="Polaris-Stack">
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Create 3 Facebook Ads Per Day</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>

                                      <li class="Polaris-ResourceList__ItemWrapper">
                                        <div class="Polaris-ResourceItem" data-href="reports/returns"><a aria-label="View Sales for Returns" class="Polaris-ResourceItem__Link" tabindex="0" id="ResourceListItemOverlay4" href="reports/returns" data-polaris-unstyled="true"></a>
                                          <div class="Polaris-ResourceItem__Container">
                                            <div class="Polaris-ResourceItem__Content">
                                              <div class="Polaris-Stack">
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Access to Standard Winning Products Library</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="Polaris-Card upgrade_premium_btn_section">
                                   <%= link_to "Stay Small", products_path, class: 'Polaris-Button upgrade_paid_btn spin' %>
                                </div>    
                            </div>
                            
                        </div>
                     </div>

                     <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf upgrade_premium_card">   

                        <div class="Polaris-Card">
                            <div class="upgrade-premium-head">
                                Premium
                            </div>

                            <div class="Polaris-Card">
                                <div class="Polaris-Card__Header price_section_upgrade">
                                  <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                                    <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                      <h2 class="Polaris-Heading text-center font-20">
                                        <sup class="dollar_sign">$</sup><span class="upgrade_price">50</span>
                                      </h2>
                                    </div>
                                  </div>
                                </div>
                                <div class="Polaris-Card__Section">
                                  <div class="Polaris-ResourceList__ResourceListWrapper">
                                    <ul class="Polaris-ResourceList" aria-live="polite">
                                      <li class="Polaris-ResourceList__ItemWrapper">
                                        <div class="Polaris-ResourceItem" data-href="reports/orders"><a aria-label="View Sales for Orders" class="Polaris-ResourceItem__Link" tabindex="0" id="ResourceListItemOverlay3" href="reports/orders" data-polaris-unstyled="true"></a>
                                          <div class="Polaris-ResourceItem__Container">
                                            <div class="Polaris-ResourceItem__Content">
                                              <div class="Polaris-Stack">
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Add Unlimited Products Per Day</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="Polaris-ResourceList__ItemWrapper">
                                        <div class="Polaris-ResourceItem" data-href="reports/returns"><a aria-label="View Sales for Returns" class="Polaris-ResourceItem__Link" tabindex="0" id="ResourceListItemOverlay4" href="reports/returns" data-polaris-unstyled="true"></a>
                                          <div class="Polaris-ResourceItem__Container">
                                            <div class="Polaris-ResourceItem__Content">
                                              <div class="Polaris-Stack">
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Create Unlimited Facebook Ads</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>

                                      <li class="Polaris-ResourceList__ItemWrapper">
                                        <div class="Polaris-ResourceItem" data-href="reports/returns"><a aria-label="View Sales for Returns" class="Polaris-ResourceItem__Link" tabindex="0" id="ResourceListItemOverlay4" href="reports/returns" data-polaris-unstyled="true"></a>
                                          <div class="Polaris-ResourceItem__Container">
                                            <div class="Polaris-ResourceItem__Content">
                                              <div class="Polaris-Stack">
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Access HUNDREDS of Additional Winning Products</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="Polaris-ResourceList__ItemWrapper">
                                        <div class="Polaris-ResourceItem" data-href="reports/returns"><a aria-label="View Sales for Returns" class="Polaris-ResourceItem__Link" tabindex="0" id="ResourceListItemOverlay4" href="reports/returns" data-polaris-unstyled="true"></a>
                                          <div class="Polaris-ResourceItem__Container">
                                            <div class="Polaris-ResourceItem__Content">
                                              <div class="Polaris-Stack">
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Email Support With Our Team</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="Polaris-ResourceList__ItemWrapper">
                                        <div class="Polaris-ResourceItem" data-href="reports/returns"><a aria-label="View Sales for Returns" class="Polaris-ResourceItem__Link" tabindex="0" id="ResourceListItemOverlay4" href="reports/returns" data-polaris-unstyled="true"></a>
                                          <div class="Polaris-ResourceItem__Container">
                                            <div class="Polaris-ResourceItem__Content">
                                              <div class="Polaris-Stack">
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Limited to just 50 users</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="Polaris-ResourceList__ItemWrapper">
                                        <div class="Polaris-ResourceItem" data-href="reports/returns"><a aria-label="View Sales for Returns" class="Polaris-ResourceItem__Link" tabindex="0" id="ResourceListItemOverlay4" href="reports/returns" data-polaris-unstyled="true"></a>
                                          <div class="Polaris-ResourceItem__Container">
                                            <div class="Polaris-ResourceItem__Content">
                                              <div class="Polaris-Stack">
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Cancel Anytime</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>

                                <div class="Polaris-Card upgrade_premium_btn_section">
                                   <%= link_to "Upgrade to Premium", upgrade_premium_package_path(price: '50', plan_name: 'Premium'), class: 'Polaris-Button upgrade_premium_btn spin' %>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

